.board {
    width: 950px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgb(36, 37, 38);
    margin: 2em;
}

.select {
    width: 100px;
    height: 45px;
    margin: 0 10px 5px 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

h1 {
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

button {
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    border-radius: 10px 10px 0 0;
}