.card {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: 15% 300px auto;
    margin: auto;
    background-color: red;
}

.title {
    grid-column-start: 2;
    text-align: center;
}