.card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.card {
    background-color: white;
    margin: auto;
    border-radius: 5px;
    width: 500px;
    height: 720px;
}

.card-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
}

.card-picture {
    width: 340px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
}